body{background:#f2f2f2;font-size: 14px}
.comment{background: #ffffff; border: 1px solid #efefef; padding:10px; border-radius: 4px; margin-top: 10px}
.comment h2{float:left;margin-right: 10px; font-size: 14px; margin:0px; padding: 0px}